defusedxml>=0.4.1
diff-match-patch>=20110725.1
Django>=1.9.2
django-cors-headers>=1.1.0
django-extensions>=1.6.1
django-filter>=0.12.0
django-import-export>=0.4.3
django-jfu>=2.0.9
djangorestframework>=3.3.2
gunicorn>=19.4.5
pytz>=2015.7
six>=1.10.0
tablib>=0.11.2
